.admin_container{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    .form_container{
        flex: 0 0 360px;
    }
}
.admin_form{
    input, textarea, select {
        padding: .5rem 1rem;
        border: 1px solid gray;
        outline: none;
        font-size: 16px;
        border-radius: 4px;
    }
    .input_container{
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
    .input-error{
        color: red;
        font-size: .5rem;
    }
    .btn{
        background-color: bisque;
        color: black;
        padding: .5rem 1rem;
        border-radius: 4px;
        transition: backgorund-color .3s;
        cursor: pointer;
        border: none;
        outline: none;

        &:disabled{
            background-color: #333;
            color: #666;
            pointer-events: none;
        }
        &:hover{
            background-color: rgb(169, 171, 166);
        }
    }
}