.admin_container{
    color:#233f4a;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    background-image: url(/assets/img/fondos/fondo.png);
    .form_container{
        flex: 0 0 360px;
        .btn {
            &:disabled{
                background-color:#2a4a56;
                color: #8d8888;
                pointer-events: none;
            }
            &:btn-success{
            background-color: antiquewhite;
            color: #2a4a56;
        }
        }

    }

    @media screen and (width < 800px) {
        flex-direction: column;
        .btn{
            margin: 10px 10px;
            width: 200px;
        }
    }
    
}