.modal-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(226, 207, 189, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    animation: showIn .3s ease-in-out forwards;
    
    .modal-content{
        position: relative;
        margin: 25% auto;
        overflow: hidden;
        background-color: white;
        color: black;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        width: calc(100%-2rem);
        max-width: 600px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        animation: fadeIn .3s ease-in-out forwards;
    }
    .modal-header{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .modal-body{
        margin-bottom: 1rem;
        .order-list{
            list-style: none;
            .order-item{
                padding: .25rem 1rem;
                &:not(:last-child){
                    border-bottom: 1px solid #dddaaa;
                }
            }
        }
    }
    .modal-footer{
        button{
            border: 1px solid  #284955;
            border-radius: 5px;
            outline: none;
            padding: 8px 16px;
            margin: 5px;
            background-color: white;
            box-shadow: 0 0 2px  #cee9e4;
            transition: background-color 0.3s;
            background-color: #233f4a;
            color: #f3dab2;

            &:hover{
            background-color:#284955;
             }
         }
}}
@keyframes showIn {
    from {opacity: 0;}to{opacity: 1}
}
@keyframes fadeIn {
    to{opacity: 1;}
}