.admin_table{
    flex: 1;
    padding: 1 rem;
    border-collapse: collapse;
    width: 100%;

    th, th {
        padding: .5rem;
        border: 1px solid #cee9e4;
        }
    th{
        background-color:  #233f4a;
        color: #f3dab2;
        }
    }
